# Core ML
numpy==2.3.4
pandas==2.3.3
scikit-learn==1.7.1
xgboost==3.1.2
category_encoders==2.9.0
joblib

# Visualization
matplotlib==3.10.7
seaborn==0.13.2
plotly==6.3.1

# App & API
streamlit==1.50.0
fastapi==0.128.0
uvicorn==0.40.0

# Utilities
requests==2.32.5

# Scraping (not used in Docker runtime, but fine for local dev)
beautifulsoup4==4.14.2
selenium==4.38.0

# Dev only
watchdog

regex==2025.10.23